<mat-card *ngIf="product.name" class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{ product.name }}</mat-card-title>
  </mat-card-header>
  <img mat-card-image [src]="product.imageUrl" alt="{{ product.name }}">
  <mat-card-content>
    <p>
      {{ product.description }}
    </p>
  </mat-card-content>
  <mat-card-actions *ngIf="showActions && shoppingCart">
    <button
      mat-raised-button
      color="primary"
      *ngIf="shoppingCart.getQuantity(product) === 0; else updateQuantity"
      (click)="addToCart()"
      >Agregar al carro</button>
    <ng-template #updateQuantity>
      <product-quantity [product]="product" [shopping-cart]="shoppingCart">
      </product-quantity>
    </ng-template>
  </mat-card-actions>
</mat-card>
<mat-divider></mat-divider>
