<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a routerLink="/">
      COA - Test
    </a>
    <span style="flex: 1 1 auto;"></span>
    <div *ngIf="(user$ | async) as user; else notLoggedIn">
      <span>Hola {{ user.name }}</span>
      <a mat-button [routerLink]="" (click)="logout()"> Logout </a>
    </div>
    <ng-template #notLoggedIn>
      <a mat-button [routerLink]="'/login'"> Login </a>
      <a mat-button [routerLink]="'/register'"> Registro </a>
    </ng-template>
    <button routerLink="/shopping-cart" mat-icon-button class="example-icon" aria-label="Cart icon" *ngIf="cart$ | async as cart">
      <mat-icon matBadge="{{ cart.totalItemsCount }}" matBadgeColor="warn">shopping_cart</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>


