<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-sm-4">
      <div class="card mt-4">
        <div class="card-body">
          <h4 class="card-title mb-4 mt-1">Login</h4>
          <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
            <formly-form [form]="loginForm" [fields]="loginFormFields" [model]="model"></formly-form>
            <button
              type="submit"
              mat-raised-button
              color="primary"
              [disabled]="loginForm.invalid"
            >
              Login
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
