<div class="col-6">
  <mat-card class="example-card" *ngIf="cart">
    <mat-card-header>
      <mat-card-title>Orden</mat-card-title>
      <mat-card-subtitle>Tienes {{ cart.totalItemsCount }} items en tu orden.</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <ag-grid-angular
        *ngIf="rowData"
        style="width: auto;"
        class="ag-theme-alpine"
        [rowData]="rowData"
        [columnDefs]="columnDefs"
        [domLayout]="domLayout">
      </ag-grid-angular>
    </mat-card-content>
  </mat-card>
</div>
