<h1>Carrito</h1>
<div class="row col-10" *ngIf="cart$ | async as cart">
  <p>
    Tienes {{ cart.totalItemsCount }} items en tu carrito.
    <button
      *ngIf="cart.items.length"
      (click)="clearCart()"
      class="btn btn-light btn-sm">Limpiar carrito</button>
  </p>
  <table class="table">
    <thead>
      <tr>
        <th>Item</th>
        <th class="text-center" style="width: 230px;">Cantidad</th>
        <th class="text-right" style="width: 200px;">Precio</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of cart.items">
        <td>
          {{ item.name }}
        </td>
        <td>
          <product-quantity [product]="item" [shopping-cart]="cart">
          </product-quantity>
        </td>
        <td class="text-right">
          {{ item.totalPrice | currency:'USD':true }}
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th></th>
        <th></th>
        <th class="text-right">
          {{ cart.totalPrice | currency:'USD':true }}
        </th>
      </tr>
    </tfoot>
  </table>
  <button *ngIf="cart.items.length" routerLink="/order" mat-raised-button color="primary">Generar orden</button>
</div>
