<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-sm-4">
      <div class="card mt-4">
        <div class="card-body">
          <h4 class="card-title mb-4 mt-1">Registro</h4>
          <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
            <formly-form [form]="registerForm" [fields]="registerFormFields" [model]="model"></formly-form>
            <button
              type="submit"
              mat-raised-button
              color="primary"
              [disabled]="registerForm.invalid"
            >
              Registrarse
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
