<div class="row no-gutters">
  <div class="col-2">
    <button
    (click)="removeFromCart()"
    mat-raised-button
    color="primary">-</button>
  </div>
  <div class="col text-center">
    {{ shoppingCart.getQuantity(product) }} en el carro
  </div>
  <div class="col-2">
    <button
    (click)="addToCart()"
    mat-raised-button
    color="primary">+</button>
  </div>
</div>
